interactions:
- request:
    body: 'b''{"source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/multipage_invoice1.pdf"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/51907181-5de7-4287-a5a9-86c1f1b1c070
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/51907181-5de7-4287-a5a9-86c1f1b1c070
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2020-11-04T20:46:28Z", "lastUpdatedDateTime":
        "2020-11-04T20:46:29Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/51907181-5de7-4287-a5a9-86c1f1b1c070
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-11-04T20:46:28Z",
        "lastUpdatedDateTime": "2020-11-04T20:46:39Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11,
        "unit": "inch"}, {"page": 2, "angle": 0, "width": 8.5, "height": 11, "unit":
        "inch"}, {"page": 3, "angle": 0, "width": 8.5, "height": 11, "unit": "inch"}],
        "pageResults": [{"page": 1, "tables": [{"rows": 8, "columns": 3, "cells":
        [{"rowIndex": 0, "columnIndex": 0, "text": "Item", "boundingBox": [0.9909,
        2.9408, 3.1582, 2.9408, 3.1582, 3.1528, 0.9909, 3.1528], "elements": []},
        {"rowIndex": 0, "columnIndex": 1, "text": "Quantity", "boundingBox": [3.1582,
        2.9408, 5.3322, 2.9408, 5.3322, 3.1528, 3.1582, 3.1528], "elements": []},
        {"rowIndex": 0, "columnIndex": 2, "text": "Price", "boundingBox": [5.3322,
        2.9408, 7.4928, 2.947, 7.4928, 3.1528, 5.3322, 3.1528], "elements": []}, {"rowIndex":
        1, "columnIndex": 0, "text": "A", "boundingBox": [0.9909, 3.1528, 3.1582,
        3.1528, 3.1582, 3.3649, 0.9976, 3.3649], "elements": []}, {[...]
